@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&display=swap');
body{
	overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	margin: 0;
	scroll-behavior: smooth;
	background-color: rgb(37, 34, 34);
	color: white;
}
.me {
	font-size: 1.7vw;
	font-weight: 500;
	padding: 1vh;
	margin-top: -1vh;
}

.menuu {
	position: sticky;
	top: 0;
	width: 100vw;
	background-color: black;
	height: 10vmin;
}

table {
	border-collapse:collapse;
	padding:5px;
	position: relative;
	width: 70vw;
}
th {
	border:1px solid #b3adad;
	padding:5px;
	background: #f0f0f0;
	color: #cecece;
}
td {
	border:1px solid #b3adad;
	text-align:center;
	padding:5px;
	background: #5a5a5a;
	color: #bebebe;
	width: 35vw;
}
.g {
	background-color: #8b8b8b40;
}

#tytul {
	font-size: 300vw;
	font-weight: 600;
	width: 40vw;
	position: relative;
}
#cena {
	position: relative;
	font-size: 3vmax;
	font-weight: 600;
	padding-right: 20.1vw;
	float: right;
	margin-top: 1vmin;
}
#nazwa {
	position: relative;
	font-size: 3vmax;
	font-weight: 600;
	padding-left: 15vw;
	float: left;
	margin-top: 1vmin;
}
/*SIABADABADU*/


   .gallery-container {
	position: relative;
   	height: 70vmin;
   	margin: 0 auto;
   	padding-bottom: 2vh;
   }

   .gallery-img {
	position: relative;
   	display: block;
   	height: 60vmin;
   	margin: 0 auto;
   }

   .prev,
   .next {
   	position: relative;
	width: 3vmin;
   	transform: translateY(-50%);
   	font-size: 30px;
   	font-weight: bold;
   	color: #fff;
   	background-color: rgba(0, 0, 0, 0.5);
   	padding: 10px;
   	cursor: pointer;
	margin-top: 10vmax;
   }

.prev::selection, .next::selection {
	background: none;
}
/*SIABADABADA*/



#kupowanie {
	display: block;
}